<!-- Text icons for non-face cards -->

<!-- Ace through 3 (one column) -->
<div class="suitDisplay"
    ng-switch="suit"
    ng-if="rank === 'A' || rank < 4">
    <div class="suitColumn"
        ng-class="{ace: rank === 'A'}">
        <div class="cardMiddleSuit"
            ng-repeat="suitIcon in collection() track by $index">
            <span ng-switch-when="spades">&spades;</span>
            <span ng-switch-when="clubs">&clubs;</span>
            <span ng-switch-when="hearts"
                class="red">&hearts;</span>
            <span ng-switch-when="diamonds"
                class="red">&diams;</span>
        </div>
    </div>

</div>

<!-- Four or six (two columns) -->
<div class="suitDisplay twoColumns"
    ng-switch="suit"
    ng-if="rank === 4 || rank === 6">

    <!-- TODO: refactor this to use a directive -->
    <div class="suitColumn">
        <div class="cardMiddleSuit"
            ng-repeat="suitIcon in collection().slice(0, collection().length/2) track by $index">
            <span ng-switch-when="spades">&spades;</span>
            <span ng-switch-when="clubs">&clubs;</span>
            <span ng-switch-when="hearts"
                class="red">&hearts;</span>
            <span ng-switch-when="diamonds"
                class="red">&diams;</span>
        </div>
    </div>

    <div class="suitColumn">
        <div class="cardMiddleSuit"
            ng-repeat="suitIcon in collection().slice(0, collection().length/2) track by $index">
            <span ng-switch-when="spades">&spades;</span>
            <span ng-switch-when="clubs">&clubs;</span>
            <span ng-switch-when="hearts"
                class="red">&hearts;</span>
            <span ng-switch-when="diamonds"
                class="red">&diams;</span>
        </div>
    </div>


</div>

<!-- Five, seven, eight, nine, or ten (three columns) -->
<div class="suitDisplay threeColumns"
    ng-switch="suit"
    ng-if="rank === 5 || rank > 6">

    <!-- TODO: refactor this to use a directive -->
    <div class="suitColumn">
        <div class="cardMiddleSuit"
            ng-repeat="suitIcon in collection().slice(0, collection().length/2 - (collection().length % 2 === 0 ? 1 : .5)) track by $index">
            <span ng-switch-when="spades">&spades;</span>
            <span ng-switch-when="clubs">&clubs;</span>
            <span ng-switch-when="hearts"
                class="red">&hearts;</span>
            <span ng-switch-when="diamonds"
                class="red">&diams;</span>
        </div>
    </div>

    <div class="suitColumn">
        <div class="cardMiddleSuit"
            ng-repeat="suitIcon in collection().slice(0, rank === 8 || rank === 10 ? 2 : 1) track by $index"

            ng-class="{seven: rank === 7}">
            <span ng-switch-when="spades">&spades;</span>
            <span ng-switch-when="clubs">&clubs;</span>
            <span ng-switch-when="hearts"
                class="red">&hearts;</span>
            <span ng-switch-when="diamonds"
                class="red">&diams;</span>
        </div>
    </div>

    <div class="suitColumn">
        <div class="cardMiddleSuit"
            ng-repeat="suitIcon in collection().slice(0, collection().length/2 - (collection().length % 2 === 0 ? 1 : .5)) track by $index">
            <span ng-switch-when="spades">&spades;</span>
            <span ng-switch-when="clubs">&clubs;</span>
            <span ng-switch-when="hearts"
                class="red">&hearts;</span>
            <span ng-switch-when="diamonds"
                class="red">&diams;</span>
        </div>
    </div>

</div>


<!-- Images for face cards -->
<img class="faceImg"
    src="../images/jack_spades.png"
    alt="Jack"
    ng-if="rank === 'J' && suit === 'spades'">
<img class="faceImg"
    src="../images/jack_hearts.png"
    alt="Jack"
    ng-if="rank === 'J' && suit === 'hearts'">
<img class="faceImg"
    src="../images/jack_clubs.png"
    alt="Jack"
    ng-if="rank === 'J' && suit === 'clubs'">
<img class="faceImg"
    src="../images/jack_diamonds.png"
    alt="Jack"
    ng-if="rank === 'J' && suit === 'diamonds'">

<img class="faceImg"
    src="../images/queen_spades.png"
    alt="Queen"
    ng-if="rank === 'Q' && suit === 'spades'">
<img class="faceImg"
    src="../images/queen_hearts.png"
    alt="Queen"
    ng-if="rank === 'Q' && suit === 'hearts'">
<img class="faceImg"
    src="../images/queen_clubs.png"
    alt="Queen"
    ng-if="rank === 'Q' && suit === 'clubs'">
<img class="faceImg"
    src="../images/queen_diamonds.png"
    alt="Queen"
    ng-if="rank === 'Q' && suit === 'diamonds'">

<img class="faceImg"
    src="../images/king_spades.png"
    alt="King"
    ng-if="rank === 'K' && suit === 'spades'">
<img class="faceImg"
    src="../images/king_hearts.png"
    alt="King"
    ng-if="rank === 'K' && suit === 'hearts'">
<img class="faceImg"
    src="../images/king_clubs.png"
    alt="King"
    ng-if="rank === 'K' && suit === 'clubs'">
<img class="faceImg"
    src="../images/king_diamonds.png"
    alt="King"
    ng-if="rank === 'K' && suit === 'diamonds'">
