<div class="cardTop">
    <span ng-class="{'red': suit === 'hearts' || suit == 'diamonds'}">{{ rank }}</span>
    <span ng-if="suit === 'spades'">&spades;</span>
    <span ng-if="suit === 'hearts'"
        class="red">&hearts;</span>
    <span ng-if="suit === 'diamonds'"
        class="red">&diams;</span>
    <span ng-if="suit === 'clubs'">&clubs;</span>
</div>

<card-middle></card-middle>

<div class="cardBottom">
    <span ng-if="suit === 'spades'">&spades;</span>
    <span ng-if="suit === 'hearts'"
        class="red">&hearts;</span>
    <span ng-if="suit === 'diamonds'"
        class="red">&diams;</span>
    <span ng-if="suit === 'clubs'">&clubs;</span>
    <span ng-class="{'red': suit === 'hearts' || suit == 'diamonds'}">{{ rank }}</span>
</div>
