<span class="cardMiddleSuit"
    ng-switch-when="spades"
    ng-repeat="suitIcon in collection() track by $index">&spades;</span>
<span class="cardMiddleSuit red"
    ng-switch-when="hearts"
    ng-repeat="suitIcon in collection() track by $index">&hearts;</span>
<span class="cardMiddleSuit"
    ng-switch-when="clubs"
    ng-repeat="suitIcon in collection() track by $index">&clubs;</span>
<span class="cardMiddleSuit red"
    ng-switch-when="diamonds"
    ng-repeat="suitIcon in collection() track by $index">&diams;</span>
